/**********************************
General
**********************************/
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    padding: 0 5%;
}

#logo  {
    text-align: center;
}

img {
    max-width: 100%;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    text-align: center

}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    text-align: center

}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto
}

p.hours {
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/**********************************
Header
**********************************/


h1  {
    font-family: 'Oswald', sans-serif;
    margin: 0px 0;
    font-size: 1.75em;
}

h2 {    
    margin: 0 0 0 0;
    font-size: 1em;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}


img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.displayed-bottom {
    display: block;
    margin: auto;
    width: 600px;
    height: 440px;
    padding: 0 0 0 10px;
}

p.displayed-bottom {
    text-align: center;
    padding-bottom: 10px;
}
/**********************************
Page Portfolio
**********************************/

#gallery {
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #FFF;
    color: #FFF;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #000;
    
}
/**********************************
Navigation
**********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.2em;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}
/**********************************
Footer
**********************************/
footer {
    font-size: 0.75px;
    text-align: center;
    padding-top: 50px;
    color: #000;
    clear: both;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    
}

footer p {
    font-size: 12px;
}
/**********************************
About Page
**********************************/

.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 100%;
}

/**********************************
Contact Page
**********************************/
contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}    

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}    
/**********************************
COLORS
**********************************/

a {
    color: #636363;
}

header {
    background: white;
}


h1 {
    color: red;
}

h2 {
    color: white;
    background: green;
}

nav {
    background: white;
}

nav a, nav a:visited {
    color: red;
}

nav a.selected, nav a:hover  {
    color: #FF7575;
}

h3 {
    background-color: red;
    color: white;
}

h4 {
    background-color: red;
    color: white;
}
/**********************************
MEDIA QUARIES
**********************************/

@media screen and (min-width: 480px) {
    /*Contact page*/
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    
    #gallery  li {
        width: 28.3333%
    }
    /*About page*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 600px) {
    /*NAV*/
    nav {
        text-align: right;
    }
    
    #logo {
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 20px;
    }
}

/**********************************
MENU
**********************************/

#descriptions {
    clear: both;
    display: block;
}

.menu_item .description {
    color: #999;
}

.menu_item .name {
    font-weight: bold;
    text-transform: uppercase;
}
.menu_item .price {
    float: right;
    font-weight: bold;
}

.category li.nottop {
    border-top: #999 dotted thin;
}

.even {
    background-color: #fff;
}
